In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import preprocessing
from scipy import stats
from pandas.api.types import is_numeric_dtype
from scipy.stats import mode
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel

In [0]:
data = pd.read_csv('https://raw.githubusercontent.com/eriksonJAguiar/Data_Science/master/Fase_1_analise/code/train.csv', sep=',')
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

**1 - complementar os atributos faltantes, analisar redundância e incositências nos atributos**

In [0]:
data = data.drop(columns='Id') 
data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

**2 - Limpeza dos dados (Valores ausentes, Incosistência e redundantes)**

In [0]:
#Eliminando valores redundantes
#data.drop_duplicates(inplace=True)

ausentes = data.isnull()
#Verificando colunas com NaN
ausentes = pd.DataFrame(ausentes)
col = list(data.columns.values)
data_new = data
for c in col:
  if len(data_new[c][data_new[c].isnull()]) != 0:
    if is_numeric_dtype(data_new[c]):
      mean = data_new[c].mean()
      data_new[c].fillna(mean, inplace=True)
    else:
      m = data_new[c].mode()[0]
      data_new[c].fillna(m, inplace=True)

data_new.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,Gd,MnPrv,Shed,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,Grvl,Reg,Lvl,AllPub,FR2,...,0,Gd,MnPrv,Shed,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,Grvl,IR1,Lvl,AllPub,Inside,...,0,Gd,MnPrv,Shed,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,Grvl,IR1,Lvl,AllPub,Corner,...,0,Gd,MnPrv,Shed,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,Grvl,IR1,Lvl,AllPub,FR2,...,0,Gd,MnPrv,Shed,0,12,2008,WD,Normal,250000

In [0]:
from sklearn import preprocessing
#Tranformação dos atributos
for c in col:
  le = preprocessing.LabelEncoder()
  if not is_numeric_dtype(data_new[c]):
    vals = data_new[c].unique()
    le.fit(vals)
    data_new[c] = le.transform(data_new[c])

data_new.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,3,65.0,8450,1,0,3,3,0,4,...,0,2,2,2,0,2,2008,8,4,208500
1,20,3,80.0,9600,1,0,3,3,0,2,...,0,2,2,2,0,5,2007,8,4,181500
2,60,3,68.0,11250,1,0,0,3,0,4,...,0,2,2,2,0,9,2008,8,4,223500
3,70,3,60.0,9550,1,0,0,3,0,0,...,0,2,2,2,0,2,2006,8,0,140000
4,60,3,84.0,14260,1,0,0,3,0,2,...,0,2,2,2,0,12,2008,8,4,250000

**3 - Seleção de atributos - ténicas de Wrapper - Ordenação **

In [0]:
X = data_new
X = X.drop('SalePrice', axis=1)
y = df_numeric['SalePrice']
clf = ExtraTreesClassifier(n_estimators=50)
clf = clf.fit(X, y)
f = clf.feature_importances_
model = SelectFromModel(clf, prefit=True)
X_new = model.transform(X) 
print(X_new)

**4 - Seleção de atributos - ténicas de Wrapper - Subconjuntos - Recursive feature elimination**

In [0]:
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestRegressor


feature_names = list(data_new.columns.values)

#seleção de atributos
X = data_new
X = X.drop('SalePrice', axis=1)
y = data_new['SalePrice']

regr = RandomForestRegressor(max_depth=2, random_state=0, n_estimators=50)
sel = RFE(regr, step=1)
sel = sel.fit(X, y)
attr = sorted(zip(map(lambda x: round(x, 4), sel.ranking_), feature_names))

#validação
i = 0
atrib_sel = ['SalePrice']
while attr[i][0] <= 20:
  atrib_sel.append(attr[i][1])
  i = i +1

data_cor = data_new[atrib_sel]
data_cor.corr().sort_values('SalePrice', ascending=False).index
data_cor.corr()